.bg-primary-color {
  background: var(--primary) !important;
}

.bg-secondary-color {
  background: var(--secondary) !important;
}

.bg-black-color {
  background: var(--black) !important;
}

.bg-quaternary-color {
  background: var(--quaternary) !important;
}
.bg-primary-light {
  background: var(--bg-primary-light) !important;
}
.bg-secondary-light {
  background: var(--bg-secondary-light) !important;
}
.bg-success-light {
  background: var(--success-light) !important;
}
.bg-tertiary-light {
  background: var(--tertiary-light) !important;
}
.bg-light-color{
  background: var(--light) !important;
}

