.text-primary-color {
    color: var(--primary) !important;
}

.text-secondary-color {
    color: var(--secondary) !important;
}

.text-tertiary-color {
    color: var(--tertiary) !important;
}

.text-quaternary-color {
    color: var(--quaternary) !important;
}

.text-success-color {
    color: #10B981;
}
.text-dark-color {
    color: var(--dark) !important;
}

.text-success-light{
    color: var(--success-light) !important;
}