:root {
    --primary: #3BAEF2 ;
    // --primary: #007FE6 ;
    --primary-hover: #0066b9;
    --primary-light: #CCEBFB;

    --secondary: #374151;
    --tertiary: #0D4593;
    --quaternary: #000816;
    
    --success: #008000;
    --error: #FF3636;
    --dark: #111111;
    --light: #ffffff;
    --gray: #808080;

    --border: #b1b1b1;

    --bg-primary-light: #f0faff;
    --bg-secondary-light: #d4faef;
    --success-light: #10B981;
    --tertiary-light: #4177C2;
    --bg-tertiary-light:#4177C2;

    --table-thead-bg: #99B6EB;

    --table-tbody-border-bottom: #e9e9e9;

    --scrollbar: #e6e6e6;

    --grayLight: #f5f5f5;
    --pagination: #0A1931;

  }

